<%= simple_form_for [:admin, contact, phone_number] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :number %>
  <%= f.input :number_options_path, label: 'Call Options (separate with commas)' %>
  <%= f.input :open_hours %>
  <%= f.input :international_phone %>
  <%= f.input :international_number_options_path, label: 'International Call Options (separate with commas)' %>
  <%= f.input :fax %>
  <%= f.input :textphone %>

  <div class='form-actions'>
    <%= f.submit id: 'phone-number-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
