<tr>
  <td><%= phone_number.number %></td>
  <td>
    <%= link_to phone_number.title, edit_admin_contact_phone_number_path(contact, phone_number) %>
  </td>
  <td><%= govspeak phone_number.description %></td>
  <td><%= govspeak phone_number.open_hours %></td>
  <td class="text-right">
    <%= link_to 'Edit phone number', edit_admin_contact_phone_number_path(contact, phone_number), class: 'btn btn-default' %>
  </td>
</tr>
