<tr>
  <td>
    <%= link_to phone_number.title, edit_admin_contact_phone_number_path(contact, phone_number) %>
  </td>
  <td><%= phone_number.description %></td>
  <td><%= phone_number.number %></td>
  <td><%= phone_number.open_hours %></td>
  <td class="text-right">
    <small>
      <%= link_to 'Edit', edit_admin_contact_phone_number_path(contact, phone_number) %>
    </small>
  </td>
</tr>
