<% content_for :page_title, 'Edit phone number' %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li><%= link_to @contact, edit_admin_contact_path(@contact) %></li>
  <li><%= link_to 'Phone numbers', admin_contact_phone_numbers_path(@contact) %></li>
  <li class="active"><%= @phone_number.number %></li>
</ol>

<div class="page-title">
  <h1>
    <small><%= @contact %></small><br />
    Edit ‘<%= @phone_number.number %>’
  </h1>
</div>

<%= render 'form', contact: @contact, phone_number: @phone_number, show_delete: true %>

<h3 class="add-bottom-margin">Audit log</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <%= render partial: 'admin/versions/version', collection: @phone_number.display_versions, as: :version %>
</table>
