<%= simple_form_for more_info_website, url: admin_contact_record_more_info_website_path(contact_record) do |f| %>
  <%= f.input :description %>
  <%= f.input :url_title %>
  <%= f.input :url_description %>
  <%= f.input :url %>

  <div class='form-actions'>
    <%= f.submit id: 'more-info-record-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
