<tr>
  <td><%= email_address.title %></td>
  <td><%= email_address.description %></td>
  <td><%= mail_to email_address.email %></td>
  <td>
    <%= link_to 'Edit', edit_admin_contact_record_email_address_path(contact_record, email_address), class: 'btn btn-small' %>
    <%= link_to 'Remove', admin_contact_record_email_address_path(contact_record, email_address), method: :delete, data: { confirm: 'Are you sure?' }, data: { disable: 'Working' }, class: 'btn btn-small btn-danger' %>
  </td>
</tr>
