<% page_class 'details-page' %>

<div class="details-page-1">
  <div class="block-1">
    <div class="inner-block">
      <%= render 'layouts/hmrc_logo' %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="article-header">
        <div class="header-div">
          <header class="page-header group">
            <h1>
              Child Benefit contact details
            </h1>
          </header>

          <p>
            Help and advice for Child Benefit customers
          </p>
        </div>

        <aside>
          <%= link_to "Show all parts of this guide", "#", class:"show-all-parts" %>
          <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
            <ol>
              <li>
                <span class="part-number">1.</span>
                <%= link_to "Before you contact us", "#", title:"1. Before you contact us" %>
              </li>
              <li class="active">
                <span class="part-number">2.</span>
                <span>Information you will need</span>
              </li>
            </ol>
          </nav>
        </aside>
        <div class="clear"></div>
      </div>

      <div class="article-container group">
        <article role="article" class="group">
          <header>
            <h1>
              2. Information you will need
            </h1>
          </header>
          <%= markdown contact.contact_information.to_s %>
          <footer>
            <nav class="pagination" role="navigation" aria-label="Pagination">
              <ul class="group">
                <li class="next">
                  <a href="<%= office_contact_details_path(office) %>" rel="next" title="Navigate to next part">
                    <span class="pagination-label">Next</span>
                    <span class="pagination-part-title">Contact details</span>
                  </a>
                </li>
              </ul>
            </nav>
          </footer>
        </article>
      </div>
    </div>
  </div>
</div>
