<% if contact_group.contacts.any? %>
  <li class="organisation js-filter-item" data-filter-terms="<%= filter_terms_for_group(contact_group) %>" >
    <h2 id="<%= contact_group.slug %>">
      <%= link_to contact_group, "##{contact_group.slug}", 'data-expand' => "#{contact_group.slug}-elements" %>
    </h2>
    <%= link_to 'view all', "##{contact_group.slug}", class: "view-all", 'data-expand' => "#{contact_group.slug}-elements" %>
    <%= govspeak contact_group.description %>

    <div class="organisations-box" id="<%= contact_group.slug %>-elements">
      <div class="organisations-box-inner">
        <ul>
          <% contact_group.contacts.each do |contact| %>
            <li class="<%= 'last-child' if contact == contact_group.contacts.last %>">
              <h3>
                <%= link_to contact, contact_path(organisation, contact) %>
              </h3>
              <%= govspeak contact.description %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </li>
<% end %>
