<% page_class 'search-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/department_logo' %>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header">
        <h1 class="main">
          Search results for
        </h1>
      </header>

      <%= simple_form_for @search_form, url: search_path do |search_form| %>
        <div class="searchfield">
          <fieldset class="search-input">
            <%= search_form.input :q, label: false, input_html: { id: 'search-main' } %>
          </fieldset>
          <fieldset class="search-submit">
            <button type="submit" class="button">Search</button>
          </fieldset>
        </div>
      <% end %>
    </div>

    <ul class="results-list">
      <% @search_results.each_with_index do |search_result, index| %>
        <li class="<%= 'contact' if search_result.contact? %>">
          <% if search_result.contact? %>
            <span class="contact-indicator">Contact details</span>
          <% end %>
          <h3>
            <%= link_to search_result.title, search_result.govuk_link %>
          </h3>
          <p>
            <%= search_result.description %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
