<%= simple_form_for [:admin, contact, email_address] do |f| %>
  <fieldset class="form-horizontal">
    <%= f.input :title, input_html: { class: 'span6' } %>
    <%= f.input :email, input_html: { class: 'span6' } %>
    <%= f.input :description, input_html: { rows: 8, class: 'span6' }, hint: formatting_help_link %>
  </fieldset>

  <div class='form-actions form-horizontal'>
    <div class="control-group">
      <div class="controls">
        <%= f.submit id: 'email-address-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
      </div>
    </div>
  </div>
<% end %>
<%= render "admin/shared/formatting" %>
