<%= render 'admin/shared/formatting' %>
<div class="well">
  <%= simple_form_for [:admin, contact] do |f| %>
    <%= hidden_field_tag :tab, 'email_addresses' %>
    <fieldset>
      <legend class="add-bottom-margin">Further information for Email Address contact method</legend>
      <%= f.input :more_info_email_address,
                  label: "More information for email addresses",
                  placeholder: "This appears below email method",
                  input_html: { rows: 5, class: "input-md-8 form-control" },
                  hint: formatting_help_link %>
      <%= f.submit "Update information", class: "btn btn-success" %>
    </fieldset>
  <% end %>
</div>
