<% content_for :page_title, 'Edit contact form email address' %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li><%= link_to @contact, edit_admin_contact_path(@contact) %></li>
  <li><%= link_to 'Email addresses', admin_contact_email_addresses_path(@contact) %></li>
  <li class="active"><%= @email_address.email %></li>
</ol>

<div class="page-title">
  <h1>
    <small><%= @contact %></small><br />
    Edit ‘<%= @email_address.email %>’
  </h1>
</div>

<%= render 'form', contact: @contact, email_address: @email_address, show_delete: true %>

<h3>Audit log</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <%= render partial: 'admin/versions/version', collection: @email_address.display_versions, as: :version %>
</table>
