<%= render 'admin/contacts/edit_contact_header', contact: @contact %>

<h2>Email addresses</h2>
<% if @contact.email_addresses.any? %>
  <table class='table table-striped table-hover table-bordered email-addresses-table'>
    <thead>
      <tr class="table-header">
        <th>Email</th>
        <th>Title</th>
        <th>Description</th>
        <th>
          <%= link_to "Add email", new_admin_contact_email_address_path(@contact), class: 'btn btn-success pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @contact.email_addresses, contact: @contact %>
    </tbody>
  </table>
<% else %>
  <div class="no-content no-content-bordered">
    <%= link_to "Add email address", new_admin_contact_email_address_path(@contact) %>
  </div>
<% end %>

<%= render "more_info_form", contact: @contact %>
