<div class='page-header'>
  <h2>
    Edit <%= @contact %>
  </h2>

  <%= render 'admin/contacts/contact_nav', contact: @contact %>
</div>

<%= render "more_info_form", contact: @contact %>

<% if @contact.email_addresses.any? %>
  <table class='table table-striped table-hover email-addresses-table'>
    <colgroup>
      <col width="200"></col>
      <col width="250"></col>
      <col width="*"></col>
      <col width="150"></col>
    </colgroup>
    <thead>
      <tr>
        <th>Email</th>
        <th>Title</th>
        <th>Description</th>
        <th>
          <%= link_to "+ Add Email Address", new_admin_contact_email_address_path(@contact), class: 'btn btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @contact.email_addresses, contact: @contact %>
    </tbody>
  </table>
<% else %>
  <h4>No email address found</h4>
  <p>
    We have found no email addresses. <%= link_to "You should add one.", new_admin_contact_email_address_path(@contact) %>
  </p>
<% end %>
