<% content_for :page_title, 'Add contact form email address' %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li><%= link_to @contact, edit_admin_contact_path(@contact) %></li>
  <li><%= link_to 'Email addresses', admin_contact_email_addresses_path(@contact) %></li>
  <li class="active">Add email address</li>
</ol>

<div class="page-title">
  <h1>
    <small><%= @contact %></small><br />
    Add contact form email address
  </h1>
</div>

<%= render 'form', contact: @contact, email_address: @email_address %>
