<%= simple_form_for [:admin, contact, post_address] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>

  <div class='form-actions'>
    <%= f.submit id: 'post-address-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
