<%= render 'admin/shared/formatting' %>
<h3 class="add-bottom-margin">Further information</h3>
<div class="well">
  <%= simple_form_for [:admin, contact] do |f| %>
    <%= hidden_field_tag :tab, 'post_addresses' %>
    <fieldset>
      <%= f.input :more_info_post_address,
                  label: "More information for postal addresses",
                  placeholder: "This appears below postal method",
                  input_html: { rows: 5, class: "input-md-8 form-control" },
                  hint: formatting_help_link  %>
      <%= f.submit "Update information", class: "btn btn-success" %>
    </fieldset>
  <% end %>
</div>
