<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>
        Edit Post Address for <%= @contact %>
        <%= link_to 'Delete', admin_contact_post_address_path(@contact, @post_address), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small text-red pull-right' %>
      </h2>

      <%= render 'admin/contacts/contact_nav', contact: @contact %>
    </div>

    <%= render partial: 'form', locals: { contact: @contact, post_address: @post_address } %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Audit log</h3>
    <table class="table table-striped">
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Action</th>
        <th>Changes</th>
      </tr>
      <%= render partial: 'admin/versions/version', collection: @post_address.display_versions, as: :version %>
    </table>
  </div>
</div>