<div class='page-header'>
  <h2>
    Edit <%= contact %>
  </h2>

  <%= render partial: 'admin/contacts/contact_nav' %>
</div>

<% if post_addresses.any? %>
  <table class='table table-striped table-hover post-addresses-table'>
    <colgroup>
      <col width="250"></col>
      <col width="250"></col>
      <col width="*"></col>
      <col width="150"></col>
    </colgroup>
    <thead>
      <tr>
        <th>Title</th>
        <th>Address</th>
        <th>Description</th>
        <th>
          <%= link_to "+ Add Post Address", new_admin_contact_post_address_path(contact), class: 'btn btn-small pull-right' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render post_addresses %>
    </tbody>
  </table>
<% else %>
  <h4>No post addresses found</h4>
  <p>
    We have found no post addresses. <%= link_to "You should add one.", new_admin_contact_post_address_path(contact) %>
  </p>
<% end %>
