<% page_class 'contact_list-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/hmrc_logo' %>
  </div>
</div>

<div class="block-2 index-list-page organisations-index">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header js-filter-list">
        <h1 class="title">
          HMRC Contacts
        </h1>

        <form class="js-filter-form">
          <label for="who-are-you-looking-for" class="label">
            What are contact details
            <br>
            for 
            <input name="who-are-you-looking-for" placeholder="Example: Appeals">
            ?
          </label>
        </form>
      </header>
    </div>
  </div>
</div>

<div class="index-list-page organisations-index">
  <div class="block most-popular">
    <div class="inner-block">
      <div class="heading-block js-filter-block">
        <header class="type-heading">
          <h1>
            Most popular HMRC contacts
          </h1>
        </header>
        <div class="content">
          <ol>
            <li class="department">
              <h2>
                <%= link_to "Change Details", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Self Assessment", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "PAYE for Employers", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <div class="heading-block js-filter-block">
        <header class="type-heading">
          <h1>
            HMRC contacts by group
          </h1>
        </header>
        <div class="content">
          <ol>
            <li class="department">
              <h2>
                <%= link_to "Appeals", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Benefit theft reporting", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Capital Gains Tax", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Child Benefit", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Construction Industry Scheme (CIS)", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Corporation Tax", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Customs & Excise", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Fraud reporting", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Gift Aid", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Import Tax & Excise Duties", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Income Tax", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Inheritance Tax", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "National Insurance", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "PAYE for Employers", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Pensions", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Self Assessment", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Tax Credit", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "VAT", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
            <li class="department">
              <h2>
                <%= link_to "Voluntary disclosure", "#" %>
              </h2>
              <p>
                Get an estimate of how much tax you may need.
              </p>
              <%= link_to "view all", "#", class: "view-all" %>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>