<% page_class 'details-page' %>

<div class="details-page-1">
  <div class="block-1">
    <div class="inner-block">
      <%= render 'layouts/hmrc_logo' %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="article-header">
        <div class="header-div">
          <header class="page-header group">
            <h1>
              Child Benefit contact details
            </h1>
          </header>

          <p>
            Help and advice for Child Benefit customers
          </p>
        </div>

        <aside>
          <%= link_to "Show all parts of this guide", "#", class:"show-all-parts" %>
          <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
            <ol>
              <li>
                <span class="part-number">1.</span>
                <%= link_to "Before you contact us", "#", title:"1. Before you contact us" %>
              </li>
              <li>
                <span class="part-number">2.</span>
                <%= link_to "Information you will need", "#", title:"2. Information you will need" %>
              </li>
              <li class="active">
                <span class="part-number">3.</span>
                <span>Contact details</span>
              </li>
            </ol>
          </nav>
        </aside>
        <div class="clear"></div>
      </div>

      <div class="article-container group">
        <article role="article" class="group">
          <header>
            <h1>
              1. Before you contact us
            </h1>
          </header>
          <div class="application-notice info-notice waiting-times">
            <p>
              Call waiting times
              <br>
              <strong>
                15 minutes
              </strong>
              <br>
              at peak times
            </p>
          </div>
          <p>
            There is a lot of information on this website that might help resolve your inquiry. Please read the recommended guidance before contacting HMRC.
          </p>
          <ul class="useful-links">
            <li>
              <h3>
                <%= link_to "How to claim Child Benefit?", "#" %>
              </h3>
              <p>
                Find out how to claim Child Benefits.
              </p>
            </li>
            <li>
              <h3>
                <%= link_to "High Income Child Benefit charge", "#" %>
              </h3>
              <p>
                Find out how your tax could be affected if you or a partner have an income of more than £50,000 and get Child Benefit, and what you need to do.
              </p>
            </li>
          </ul>
          <footer>
            <nav class="pagination" role="navigation" aria-label="Pagination">
              <ul class="group">
                <li class="next">
                  <a href="#" rel="next" title="Navigate to next part">
                  <span class="pagination-label">Next</span> 
                  <span class="pagination-part-title">Information you will need</span>
                  </a>
                </li>
              </ul>
            </nav>
          </footer>
        </article>
      </div>
    </div>
  </div>
</div>