<% page_class 'details-page' %>

<div class="details-page-1">
  <div class="block-1">
    <div class="inner-block">
      <%= render 'layouts/hmrc_logo' %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="article-header">
        <div class="header-div">
          <header class="page-header group">
            <h1>
              Child Benefit contact details
            </h1>
          </header>

          <p>
            Help and advice for Child Benefit customers
          </p>
        </div>

        <aside>
          <%= link_to "Show all parts of this guide", "#", class:"show-all-parts" %>
          <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
            <ol>
              <li>
                <span class="part-number">1.</span>
                <%= link_to "Before you contact us", "#", title:"1. Before you contact us" %>
              </li>
              <li>
                <span class="part-number">2.</span>
                <%= link_to "Information you will need", "#", title:"2. Information you will need" %>
              </li>
              <li class="active">
                <span class="part-number">3.</span>
                <span>Contact details</span>
              </li>
            </ol>
          </nav>
        </aside>
        <div class="clear"></div>
      </div>

      <div class="article-container group">
        <article role="article" class="group">
          <header>
            <h1>
              3. Contact details
            </h1>
          </header>
          <ul class="contact-details-list">
            <li class="contact-detail js-hide-container">
              <h3 class="js-hide-link">
                Online contact forms
              </h3>
              <div class="contact-detail-inner">
                <p>
                  The easiest way to contact us is by filling in the appropriate online contact form:
                </p>
                <ul class="useful-links">
                  <li>
                    <%= link_to "Child Benefit - Leaving the UK Temporarily", "#" %>
                  </li>
                  <li>
                    <%= link_to "Send us your Child Benefit query online", "#" %>
                  </li>
                  <li>
                    <%= link_to "Let us know about changes online that may affect your Child Benefit", "#" %>
                  </li>
                  <li class='sub-link'>
                    <%= link_to "Show contact form privacy & security Information", "#" %>
                  </li>
                </ul>
              </div>
            </li>
            <li class="contact-detail js-hide-container js-hidden">
              <h3 class="js-hide-link">
                Phone numbers
              </h3>
              <div class="contact-detail-inner">
                <div class="application-notice info-notice waiting-times">
                  <p>
                    Call waiting times
                    <br>
                    <strong>
                      15 minutes
                    </strong>
                    <br>
                    at peak times
                  </p>
                </div>
                <p>
                  Consider using alternative communication method.
                </p>
                <div class="contact">
                  <p>
                    <strong>
                      Child Benefit Helpline
                    </strong>
                    <br>
                    Telephone: 0300 200 3100, option
                  
                    <span class="badge">
                      1
                    </span>
                    <span class="badge">
                      3
                    </span>
                  </p>
                  <p>
                    From outside the UK: +44 161 210 3086, option
                  
                    <span class="badge">
                      1
                    </span>
                    <span class="badge">
                      3
                    </span>
                    
                    <br>

                    Textphone: 0300 200 3103
                  </p>
                  <p>
                    Monday to Friday, 8.00 am to 8.00 pm
                    <br>
                    Saturday, 8.00 am to 4.00 pm
                  </p>
                  <p>
                    <%= link_to "Find out about call charges", "#" %>
                  </p>
                </div>
              </div>
            </li>
            <li class="contact-detail js-hide-container js-hidden">
              <h3 class="js-hide-link">
                Email
              </h3>
              <div class="contact-detail-inner">
                <p>
                  <%= link_to "child-benefit@hmrc.gov.uk", "#" %>
                </p>
                <p>
                  <strong>
                    General enquiries
                  </strong>
                  <br>
                  <%= link_to "enquiry@hmrc.gov.uk", "#" %>
                </p>
              </div>
            </li>
            <li class="contact-detail js-hide-container js-hidden">
              <h3 class="js-hide-link">
                Postal address
              </h3>
              <div class="contact-detail-inner">
                <div class="address">
                  <div class="adr org fn">
                    <p>
                      Child Benefit Office
                      <br>
                      PO Box 1
                      <br>
                      Newcastle Upon Tyne
                      <br>
                      NE88 1AA
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>