<% page_class 'landing-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/hmrc_logo' %>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header">
        <h1 class="main">
          Search for relevant HMRC contact information
        </h1>
      </header>
      <p>
        Please enter a question you want to ask HMRC or type what you would like to do.
      </p>
      <form>
        <div class="searchfield">
          <fieldset class="search-input">
            <input type="search" name="q" value="" id="search-main">
          </fieldset>
          <fieldset class="search-submit">
            <button type="submit" class="button">Search</button>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="block" id="commonly-asked-questions">
  <div class="inner-block">
    <%= simple_form_for @contact_group_form, url: show_contact_group_path do |form| %>
      <h2 class="section-divider">
        <span>Browse by most commonly asked questions about</span>

        <%= form.input :contact_group_id, label: false, collection: ContactGroupType.all, as: :grouped_select, group_method: :contact_groups, value_method: :slug, include_blank: false, input_html: { class: 'js-chosen-select' } %>
      </h2>
    <% end %>

    <% @contact_groups.each do |contact_group| %>
      <ul class="common-sections" id="section-<%= contact_group.slug %>">
        <% contact_group.questions.limit(3).decorate.each do |question| %>
          <li>
            <%= link_to question, office_path(question.office) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
