<% page_class 'landing-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/hmrc_logo' %>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header">
        <h1 class="main">
          Search for relevant HMRC contact information
        </h1>
      </header>
      <p>
        Please enter a question you want to ask HMRC or type what you would like to do.
      </p>
      <%= simple_form_for @search_form, url: search_path do |search_form| %>
        <div class="searchfield">
          <fieldset class="search-input">
            <%= search_form.input :q, label: false, input_html: { id: 'search-main' } %>
          </fieldset>
          <fieldset class="search-submit">
            <button type="submit" class="button">Search</button>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="block" id="commonly-asked-questions">
  <div class="inner-block">
    <%= simple_form_for @contact_group_form, url: '#' do |form| %>
      <div class="section-divider">
        <h2>
          <span>Browse by most commonly asked questions about</span>

          <%= form.input :contact_group_id, label: false, collection: ContactGroupType.all, as: :grouped_select, group_method: :contact_groups, value_method: :slug, include_blank: false, input_html: { class: 'js-chosen-select' } %>
        </h2>
      </div>
    <% end %>

    <% @contact_groups.each do |contact_group| %>
      <ul class="common-sections" id="section-<%= contact_group.slug %>">
        <% contact_group.questions.limit(7).decorate.each do |question| %>
          <li>
            <%= link_to question, contact_path(department, question.contact) %>
          </li>
        <% end %>

        <li class="search-more">
          <%= link_to "Or search by tax area", contact_groups_path(department, anchor: contact_group.slug) %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
