<% page_class 'search-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/hmrc_logo' %>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header">
        <h1 class="main">
          Search results for
        </h1>
      </header>

      <form>
        <div class="searchfield">
          <fieldset class="search-input">
            <input type="search" name="q" value="" id="search-main">
          </fieldset>
          <fieldset class="search-submit">
            <button type="submit" class="button">Search</button>
          </fieldset>
        </div>
      </form>
    </div>

    <ul class="results-list">
      <li>
        <h3>
          <%= link_to "Child Benefit number", "#" %>
        </h3>
        <p>
          Your Child Benefit number and where to find it, how to prove you qualify for Child Benefit if asked.
        </p>
      </li>
      <li class="contact">
        <span class="contact-indicator">Contact Details</span>
        <h3>
          <%= link_to "Child Benefit office", "#" %>
        </h3>
        <p>
          Help and advice for Child Benefit customers
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "When Child Benefit stops", "#" %>
        </h3>
        <p>
          Child Benefit stops when your child reaches 16, or 20 if they stayed in education or training - payments could stop earlier if your circumstances change.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Estimate your High Income Child Benefit Tax Charge", "#" %>
        </h3>
        <p>
          Get an estimate of how much tax you may need to pay if your income is more than £50,000 a year and you or your partner get Child Benefit.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Claim Child Benefit on behalf of someone else", "#" %>
        </h3>
        <p>
          Claim Child Benefit if your child has a baby, for someone who's ill or disabled, apply to be an appointee for Child Benefit.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit if your child goes into care", "#" %>
        </h3>
        <p>
          The rules about Child Benefit if your child goes into care - what you have to do, when payments stop, when you can claim again.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit rates", "#" %>
        </h3>
        <p>
          You get Child Benefit for each child you're responsible for - there are 2 rates: eldest child (£20.30 a week) and additional children (£13.40 a week).
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit if a child or parent dies", "#" %>
        </h3>
        <p>
          What happens to Child Benefit if a child you're responsible for dies - or if the child's parent or parents die.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit if your child doesn't live with you", "#" %>
        </h3>
        <p>
          Child Benefit payments if your child goes into care, into hospital, into residential care, lives with an ex-partner or leaves home.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit if your child lives with someone else", "#" %>
        </h3>
        <p>
          Child Benefit rules if your child leaves home to live with someone else - when you can still claim, multiple claims for one child and changing who gets Child Benefit.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit for 16 to 19 year olds", "#" %>
        </h3>
        <p>
          Child Benefit when your child reaches 16, what happens if your child leaves education or training, when payments stop.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Child Benefit if your child goes into hospital or residential care", "#" %>
        </h3>
        <p>
          Child Benefit rules if your child goes into hospital or residential care - when Child Benefit stops, multiple hospital visits, medical treatment in hospitals abroad.
        </p>
      </li>
      <li>
        <h3>
          <%= link_to "Report changes that affect your Child Benefit", "#" %>
        </h3>
        <p>
          Changes in your circumstances or your child's circumstances - what you need to report and how to report it.
        </p>
      </li>
    </ul>
  </div>
</div>