<ul class="contact-details-list">
  <% if contact.contact_form_links.any? %>
    <li class="contact-detail js-hide-container">
      <h3 class="js-hide-link">
        Online contact forms
      </h3>
      <div class="contact-detail-inner">
        <p>
          The easiest way to contact us is by filling in the appropriate online contact form:
        </p>
        <ul class="useful-links">
          <%= render contact.contact_form_links %>

          <li class='sub-link privacy-security-info'>
            <%= link_to "Show contact form privacy & security Information", "#" %>
            <div class="application-notice info-notice">
              <p>
                By submitting information to us directly by using special forms on our website your message is secure, but our email reply to you, which will be sent over the internet, is not. Information sent by email over the internet is not secure and is at risk of being intercepted and read by people other than those it was intended for. If our response to you contains any personal or confidential information we will only reply to you by letter or telephone.
              </p>
              <p>
                If you have any doubt about the authenticity of an email you receive which claims to have come from <%= department.title %> please do not follow any links within the email, disclose any personal details or respond to it.
              </p>
              <p>
                Follow the link below to report <%= department.title %> related phishing emails.
                Reporting <%= department.title %> related phishing emails
              </p>
            </div>
          </li>
        </ul>

        <%= govspeak contact.more_info_contact_form.to_s %>
      </div>
    </li>
  <% end %>

  <% if contact.phone_numbers.any? %>
    <li class="contact-detail js-hide-container js-hide">
      <h3 class="js-hide-link">
        Phone numbers
      </h3>
      <div class="contact-detail-inner">
        <div class="application-notice info-notice waiting-times">
          <p>
            Average call waiting times
            <br>
            <strong>
              <%= 10 + rand(20).round %> minutes
            </strong>
            <br>
            at peak times
          </p>
        </div>
        <p>
          Consider using alternative communication method.
        </p>
        <%= render contact.phone_numbers %>

        <p>
          <%= link_to "Find out about call charges", "https://www.gov.uk/call-charges" %>
        </p>

        <%= govspeak contact.more_info_phone_number.to_s %>
      </div>
    </li>
  <% end %>

  <% if contact.email_addresses.any? %>
    <li class="contact-detail js-hide-container js-hide">
      <h3 class="js-hide-link">
        Email
      </h3>
      <div class="contact-detail-inner">
        <%= render contact.email_addresses %>

        <%= govspeak contact.more_info_email_address.to_s %>
      </div>
    </li>
  <% end %>

  <% if contact.post_addresses.any? %>
    <li class="contact-detail js-hide-container js-hide">
      <h3 class="js-hide-link">
        Postal address
      </h3>
      <div class="contact-detail-inner">
        <%= render contact.post_addresses %>

        <%= govspeak contact.more_info_post_address.to_s %>
      </div>
    </li>
  <% end %>
</ul>
