<div class="block most-popular">
  <div class="inner-block">
    <div class="heading-block js-filter-block">
      <header class="type-heading">
        <h1>
          Most popular <%= department.title %> contacts
        </h1>
      </header>
      <div class="content">
        <ol>
          <%= render most_popular_contact_groups %>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="inner-block">
    <div class="heading-block js-filter-block">
      <header class="type-heading">
        <h1>
          <%= department.title %> contacts by group
        </h1>
      </header>
      <div class="content">
        <ol>
          <%= render contact_groups %>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="inner-block">
    <div class="heading-block js-filter-block">
      <header class="type-heading">
        <h1>
          Other contacts
        </h1>
      </header>
      <div class="content">
        <ol>
          <%= render ungrouped_contacts %>
        </ol>
      </div>
    </div>
  </div>
</div>
