<% page_class 'contact_groups-page' %>

<div class="block-1">
  <div class="inner-block">
    <%= render 'layouts/department_logo' %>
  </div>
</div>

<div class="block-2 index-list-page organisations-index">
  <div class="inner-block">
    <div class="hmrc-search">
      <header class="page-header js-filter-list">
        <h1 class="title">
          <%= department.title %> Contacts
        </h1>

        <form class="js-filter-form">
          <label for="who-are-you-looking-for" class="label">
            What are contact details
            <br>
            for
            <input name="who-are-you-looking-for" placeholder="Example: Appeals">
            ?
          </label>
        </form>
      </header>
    </div>
  </div>
</div>

<div class="index-list-page organisations-index">
  <div class="block most-popular">
    <div class="inner-block">
      <div class="heading-block js-filter-block">
        <header class="type-heading">
          <h1>
            Most popular <%= department.title %> contacts
          </h1>
        </header>
        <div class="content">
          <ol>
            <%= render most_popular_contact_groups %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <div class="heading-block js-filter-block">
        <header class="type-heading">
          <h1>
            <%= department.title %> contacts by group
          </h1>
        </header>
        <div class="content">
          <ol>
            <%= render contact_groups %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <div class="heading-block js-filter-block">
        <header class="type-heading">
          <h1>
            Other contacts
          </h1>
        </header>
        <div class="content">
          <ol>
            <%= render ungrouped_contacts %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js-filter-no-results">
  <p>No contacts match that filter.</p>
</div>
