<% page_class 'contact_groups-page documents-index' %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <div class="heading-big">
      <div class="inner-heading">
        <h1>
          <%= department.title %> Contacts
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="block-1 filter-form">
  <div class="inner-block">
    <div class="filter-block">
      <h2>
        You can use the filters to show only results that match your interests
      </h2>

      <form class="js-filter-form" data-remote="true">
        <fieldset>
          <legend class="visuallyhidden">
            Filter publications
          </legend>
          <div class="filter" id="keyword-filter">
            <div class="filter-inner">
              <label class="title" for="filter_contacts">
                Contains
              </label>
              <input name="search[name]" placeholder="Example: Appeals" type="search" id="filter_contacts">
              <span class="help-block hidden" id="working_on_filter_contacts">Working...</span>
            </div>
          </div>

          <div class="filter">
            <div class="filter-inner">
              <label class="title" for="contact-groups-filter">
                Contact Groups
              </label>
              <select class="single-row-select" id="contact-groups-filter" name="search[contact_group_id]">
                <option value="">All contact groups</option>
                <% contact_groups.each do |contact_group| %>
                  <option value="<%= contact_group.id %>">
                    <%= contact_group %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="block-2 filtered-results index-list-page organisations-index">
  <div class="inner-block">
    <div class="filter-results-summary">
      <div class="selections contacts-count">
        <%= render "contacts_count" %>
      </div>
    </div>
    <div class="js-filter-block">
      <div class="content">
        <ol class="document-list">
          <%= render "index" %>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="js-filter-no-results">
  <p>No contacts match that filter.</p>
</div>
