<% page_class 'contact_groups-page documents-index' %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <div class="heading-big">
      <div class="inner-heading">
        <h1>
          <%= department.title %> Contacts
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="block-1 filter-form">
  <div class="inner-block">
    <div class="filter-block">
      <h2>
        You can use the filters to show only results that match your interests
      </h2>

      <%= form_for search, url: contacts_path, method: :get, remote: true, html: { class: "js-filter-form" } do |f| %>
        <fieldset>
          <legend class="visuallyhidden">
            Filter publications
          </legend>
          <div class="filter" id="keyword-filter">
            <div class="filter-inner">
              <%= f.label :name, "Contains", class: "title" %>
              <%= f.text_field :name, type: "search" %>
            </div>
          </div>

          <div class="filter">
            <div class="filter-inner">
              <%= f.label :contact_group_id, "Contact Group" %>
              <%= f.select :contact_group_id, contact_groups.map {|c| [c, c.id]}, { include_blank: "All contact groups" }, { class: "single-row-select" } %>
            </div>
          </div>
        </fieldset>
      <% end %>

    </div>
  </div>
</div>

<div class="block-2 filtered-results index-list-page organisations-index">
  <div class="inner-block">
    <div class="filter-results-summary">
      <span class="help-block hidden" id="working_on_filter_contacts">Loading results...</span>
      <div class="selections contacts-count">
        <%= render "contacts_count" %>
      </div>
    </div>
    <div class="js-filter-block">
      <div class="content">
        <ol class="document-list">
          <%= render contacts %>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="js-filter-no-results">
  <p>No contacts match that filter.</p>
</div>
