<% page_class 'details-page' %>

<header class="page-header group">
  <div>
    <h1>
      <%= contact %> contact details
    </h1>
  </div>
</header>


<div class="related block-1 block-pull-right">
  <div class="inner-block">
    <h3>
      <%= link_to "When can I expect a response to my query?", "http://www.hmrc.gov.uk/tools/progress-tool/index.htm" %>
    </h3>
  </div>
</div>

<%= render "contact_top_details" %>

<%= render "contact_online_transaction" %>

<%= render "contact_online_details" %>

<%= render "contact_offline_details" %>