<% page_class 'details-page' %>

<header class="page-header group">
  <div>
    <h1>
      <%= contact %> contact details
    </h1>
  </div>
</header>


<div class="related block-1 pull-right">
  <div class="inner-block">
    <h3>
      <!-- TODO -->
      <%= link_to "When can I expect a response to my query?" %>
    </h3>
  </div>
</div>

<div class="block-container contact-intro clearfix">
  <div class="block-1 pull-right">
    <div class="inner-block contact-links">
      <!-- TODO Contact links -->
      <ul class="list-plain">
        <li>
          <%= link_to "How to claim self assessment online" %>
        </li>
        <li>
          <%= link_to "Register for self assessment" %>
        </li>
        <li>
          <%= link_to "Claim a tax refund" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="block-2 pull-left">
    <div class="inner-block">
      <div class="group">
        <% if contact.quick_answer.present? %>
          <div class="quick-answer">
            <%= govspeak contact.quick_answer %>
          </div>
        <% else %>
          <!-- TODO Quick links: only show 2 -->
          <ul class="quick-links list-plain clearfix">
            <li>
              <%= link_to "Child Benefit" %>
              <p>
                Child Benefit - child benefit rates, eligibility, how to claim, child benefit claim form CH2
              </p>
            </li>
            <li>
              <%= link_to "Child Benefit rates" %>
              <p>
                Child Benefit rates - weekly amount of child benefit per child
              </p>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if contact.quick_answer.present? %>
  <% if contact.online_transaction_link.present? %>
    <div class="block-container clearfix online-transaction">
      <div class="block-2 pull-left">
        <div class="inner-block">
          <div class="group">
            <%= govspeak contact.online_transaction_description %>
          </div>
        </div>
      </div>
      <div class="block-1 pull-right">
        <div class="inner-block">
          <div class="group get-started">
            <%= link_to "Start now", contact.online_transaction_link, class: "big button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if contact.contact_form_links.any? or contact.email_addresses.any? %>
  <div class="block-container block-contact clearfix online-contact">
    <div class="block-1">
      <div class="inner-block">
        <h3>
          Online
        </h3>
      </div>
    </div>
    <div class="block-2">
      <div class="inner-block">
        <% if contact.contact_form_links.any? %>
          <div class="block-container clearfix">
            <% if contact.email_addresses.any? %>
              <h3>
                Useful links
              </h3>
            <% end %>
            <div class="useful-links <%= 'contact' if contact.email_addresses.any? %>">
              <%= govspeak contact.more_info_contact_form.to_s %>

              <ul class="list-plain">
                <%= render contact.contact_form_links %>
              </ul>
            </div>
          </div>
        <% end %>
        <% if contact.email_addresses.any? %>
          <div class="block-container clearfix">
            <% if contact.email_addresses.any? %>
              <h3>
                Email
              </h3>
            <% end %>
            <div class="email <%= 'contact' if contact.contact_form_links.any? %>">
              <%= govspeak contact.more_info_email_address.to_s %>

              <ul class="list-plain">
                <%= render contact.email_addresses %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "contact_details" %>