<% page_class 'details-page' %>

<div class="details-page-1">
  <div class="block-1">
    <div class="inner-block">
      <%= render 'layouts/department_logo' %>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <div class="article-header">
        <div class="header-div">
          <header class="page-header group">
            <h1>
              <%= contact %> contact details
            </h1>
          </header>

          <p>
            Help and advice for <%= contact %> customers
          </p>
        </div>
        <div class="clear"></div>
      </div>

      <div class="article-container group">
        <article role="article" class="group">
          <header>
            <h1>
              1. Before you contact us
            </h1>
          </header>
          <p>
            More information:
          </p>
          <% if contact.before_you_contact_us.present? %>
            <%= govspeak contact.before_you_contact_us %>
          <% end %>
          <footer>
            <nav class="pagination" role="navigation" aria-label="Pagination">
              <ul class="group">
                <li class="next">
                  <a href="<%= information_you_will_need_contact_path(department, contact) %>" rel="next" title="Navigate to next part">
                    <span class="pagination-label">Next</span>
                    <span class="pagination-part-title">Information you will need</span>
                  </a>
                </li>
              </ul>
            </nav>
          </footer>
        </article>
      </div>
    </div>
  </div>
</div>
