<% show_delete ||= false %>
<div class="well">
<%= simple_form_for [:admin, contact, contact_form_link] do |f| %>
  <fieldset>
    <%= f.input :title, input_html: { class: 'form-control input-md-8' } %>
    <%= f.input :link, input_html: { class: 'form-control input-md-8' } %>
    <%= f.input :description, input_html: { rows: 8, class: 'form-control input-md-6' }, hint: formatting_help_link %>
  </fieldset>

  <%= f.submit id: 'contact-form-link-submit', class: 'btn btn-success', data: { disable_with: 'Working' } %>

  <% if show_delete %>
    <%= link_to 'Delete link', admin_contact_contact_form_link_path(@contact, @contact_form_link), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger add-left-margin' %>
  <% end %>

<% end %>
</div>

<%= render "admin/shared/formatting" %>
