<%= simple_form_for [:admin, contact, contact_form_link] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :link %>

  <div class='form-actions'>
    <%= f.submit id: 'contact-form-link-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
