<% content_for :page_title, 'Edit contact form link' %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li><%= link_to @contact, edit_admin_contact_path(@contact) %></li>
  <li><%= link_to 'Online links', admin_contact_contact_form_links_path(@contact) %></li>
  <li class="active">Edit link</li>
</ol>

<div class="page-title">
  <h1>
    <small><%= @contact %></small><br />
    Edit contact form link
  </h1>
</div>

<%= render partial: 'form', locals: { contact: @contact, contact_form_link: @contact_form_link, show_delete: true } %>

<h3>Audit log</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <%= render partial: 'admin/versions/version', collection: @contact_form_link.display_versions, as: :version %>
</table>
