<div class="contact vcard">
  <p>
    <strong class="fn">
      <%= phone_number.title %>
    </strong>
    <br>
    <span class="tel">
      <span class="type">Telephone: </span>
      <span class="value"><%= phone_number.number %></span>
    </span>

    <% if phone_number.number_options_path.any? %>
      , option
      <% phone_number.number_options_path.each do |option| %>
        <span class="badge"><%= option %></span>
      <% end %>
    <% end %>
  </p>

  <% if phone_number.international_phone.present? %>
    <p>
      <span class="tel">
        <span class="type">From outside the UK: </span>
        <span class="value"><%= phone_number.international_phone %></span>
      </span>
      <% if phone_number.international_number_options_path.any? %>
        , option
        <% phone_number.international_number_options_path.each do |option| %>
          <span class="badge"><%= option %></span>
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if phone_number.textphone.present? %>
    <p class="tel">
      <span class="type">Textphone: </span>
      <span class="value"><%= phone_number.textphone %></span>
    </p>
  <% end %>

  <% if phone_number.fax.present? %>
    <p class="tel">
      <span class="type">Fax: </span>
      <span class="value"><%= phone_number.fax %></span>
    </p>
  <% end %>

  <% if phone_number.open_hours.present? %>
    <span class="note">
      <%= simple_format h(phone_number.open_hours) %>
    </span>
  <% end %>


  
  <% if phone_number.description.present? %>
    <p class="note">
      <%= simple_format(h(phone_number.description), {}, wrapper_tag: 'span') %>
    </p>
  <% end %>

  <p>
    <%= link_to "Find out about call charges", "https://www.gov.uk/call-charges" %>
  </p>
</div>
