<div class="phone-number vcard">
  <ul class="phone-list list-plain clearfix">
    <li class="tel <%= cycle '', '', '', 'clear' %>">
      <span class="type">Telephone: </span>
      <span class="value"><%= phone_number.number %></span>
    </li>

    <% if phone_number.textphone.present? %>
      <li class="tel <%= cycle '', '', '', 'clear' %>">
        <span class="type">Textphone: </span>
        <span class="value"><%= phone_number.textphone %></span>
      </li>
    <% end %>

    <% if phone_number.international_phone.present? %>
      <li class="tel <%= cycle '', '', '', 'clear' %>">
        <span class="type">Outside UK: </span>
        <span class="value"><%= phone_number.international_phone %></span>
      </li>
    <% end %>

    <% if phone_number.fax.present? %>
      <li class="tel <%= cycle '', '', '', 'clear' %>">
        <span class="type">Fax: </span>
        <span class="value"><%= phone_number.fax %></span>
      </li>
    <% end %>
  </ul>

  <% if phone_number.description.present? %>
    <div class="note">
      <%= govspeak phone_number.description %>
    </div>
  <% end %>

  <div class="note">
    <p>
      <%= link_to "Find out about call charges", "https://www.gov.uk/call-charges", class: "link-underline" %>
    </p>
  </div>

  <div class="note">
    <% if phone_number.open_hours.present? %>
      <p>
        Opening times:
      </p>
      <%= govspeak phone_number.open_hours %>
    <% end %>
  </div>

  <div class="note">
    <% if phone_number.best_time_to_call.present? %>
      <%= govspeak phone_number.best_time_to_call %>
    <% end %>
  </div>
</div>
