<tr>
  <td>
    <%= link_to contact.title, contact_path(contact.slug), class: 'no-underline' %>
  </td>
  <td>
    <% if contact.contact_group %>
      <%= link_to contact.contact_group, edit_admin_contact_group_path(contact.contact_group) %>
    <% end %>
  </td>
  <td>
    <%= contact.description %>
  </td>
  <td>
    <%= render_contact_keywords(contact.keywords) %>
  </td>
  <td><%= contact.contact_form_links.size %></td>
  <td><%= contact.email_addresses.size %></td>
  <td><%= contact.post_addresses.size %></td>
  <td><%= contact.phone_numbers.size %></td>
  <td class='text-right'>
    <small>
      <%= link_to "Edit", edit_admin_contact_path(contact) %>
    </small>
  </td>
</tr>
