<tr>
  <% if search.organisation_id.blank? %>
    <td><%= contact.organisation %></td>
  <% end %>
  <td>
    <%= link_to contact.title, contact_url(contact.organisation, contact) %>
  </td>
  <td>
    <% contact.contact_groups.each do |contact_group| %>
      <%= link_to contact_group, edit_admin_contact_group_path(contact_group) %> <br>
    <% end %>
  </td>
  <td>
    <%= truncate(contact.description, length: 100) %>
  </td>
  <td><%= contact.contact_form_links.size %></td>
  <td><%= contact.email_addresses.size %></td>
  <td><%= contact.post_addresses.size %></td>
  <td><%= contact.phone_numbers.size %></td>
  <td class='text-right'>
      <%= link_to "Edit contact", edit_admin_contact_path(contact), class: 'btn btn-default' %>
  </td>
</tr>
