<tr>
  <td><%= contact.department %></td>
  <td>
    <%= link_to contact.title, contact_path(contact.department, contact.slug), class: 'no-underline' %>
  </td>
  <td>
    <% contact.contact_groups.each do |contact_group| %>
      <%= link_to contact_group, edit_admin_contact_group_path(contact_group) %> <br>
    <% end %>
  </td>
  <td>
    <%= truncate(contact.description, length: 100) %>
  </td>
  <td><%= contact.contact_form_links.size %></td>
  <td><%= contact.email_addresses.size %></td>
  <td><%= contact.post_addresses.size %></td>
  <td><%= contact.phone_numbers.size %></td>
  <td class='text-right'>
    <small>
      <%= link_to "Edit", edit_admin_contact_path(contact) %>
    </small>
  </td>
</tr>
