<tr>
  <td>
    <ul>
      <% contact.offices.each do |office| %>
        <li>
          <%= link_to office.title, edit_admin_office_path(office), class: 'no-underline' %>
        </li>
      <% end %>
    </ul>
  </td>
  <td><%= contact.contact_group %></td>
  <td>
    <%= contact.description %>
  </td>
  <td>
    <%= render_contact_keywords(contact.keywords) %>
  </td>
  <td><%= contact.contact_form_links.size %></td>
  <td><%= contact.email_addresses.size %></td>
  <td><%= contact.post_addresses.size %></td>
  <td><%= contact.phone_numbers.size %></td>
  <td class='text-right'>
    <small>
      <%= link_to "Edit", edit_admin_contact_path(contact) %>
    </small>
  </td>
</tr>
