<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:controller] == 'admin/contacts' %>">
    <a href="<%= edit_admin_contact_path(contact) %>">Contact</a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/contact_form_links' %>">
    <%= link_to "Contact Form Links (#{contact.contact_form_links.count})", admin_contact_contact_form_links_path(contact) %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/email_addresses' %>">
    <%= link_to "Email Addresses (#{contact.email_addresses.count})", admin_contact_email_addresses_path(contact) %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/post_addresses' %>">
    <%= link_to "Post Addresses (#{contact.post_addresses.count})", admin_contact_post_addresses_path(contact) %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/phone_numbers' %>">
    <%= link_to "Phone Numbers (#{contact.phone_numbers.count})", admin_contact_phone_numbers_path(contact) %>
  </li>
</ul>