<ul class="nav nav-tabs add-bottom-margin">
  <li class="<%= 'active' if params[:controller] == 'admin/contacts' %>">
    <a href="<%= edit_admin_contact_path(contact) %>">Contact</a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/contact_form_links' %>">
    <a href="<%= admin_contact_contact_form_links_path(contact) %>">
      Online Links
      <span class="badge <%= 'badge-info' if contact.contact_form_links.count > 0 %>"><%= contact.contact_form_links.count %></span>
    </a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/email_addresses' %>">
    <a href="<%= admin_contact_email_addresses_path(contact) %>">
      Email Addresses
      <span class="badge <%= 'badge-info' if contact.email_addresses.count > 0 %>"><%= contact.email_addresses.count %></span>
    </a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/post_addresses' %>">
    <a href="<%= admin_contact_post_addresses_path(contact) %>">
      Postal Address
      <span class="badge <%= 'badge-info' if contact.post_addresses.count > 0 %>"><%= contact.post_addresses.count %></span>
    </a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts/phone_numbers' %>">
    <a href="<%= admin_contact_phone_numbers_path(contact) %>">
      Phone Numbers
      <span class="badge <%= 'badge-info' if contact.phone_numbers.count > 0 %>"><%= contact.phone_numbers.count %></span>
    </a>
  </li>
</ul>
