<% content_for :page_title, @contact %>
<ol class="breadcrumb">
  <li><%= link_to 'Contacts', admin_contacts_path  %></li>
  <li class="active"><%= @contact %></li>
</ol>

<div class="page-title">
  <h1><%= @contact %></h1>
  <span class="pull-right">
    <%= link_to 'Clone', clone_admin_contact_path(@contact), data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    &nbsp;
    <%= link_to 'Delete', admin_contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </span>
</div>
<%= render 'admin/contacts/contact_nav', contact: @contact %>
