<div class="span12 first-child contact-details">
  <%= simple_form_for [:admin, contact] do |f| %>
    <fieldset class="form-horizontal">
      <legend>General details</legend>
      <%= f.input :title, input_html: { class: 'span4' } %>
      <%= f.input :department_id, label: "Department", collection: Department.all, label_method: :to_s, value_method: :slug, include_blank: false, input_html: { class: 'span3 js-chosen-select' } %>
      <%= f.association :contact_groups, collection: ContactGroup.all, include_hidden: false, multiple: true, input_html: { class: 'span9 js-chosen-select' } %>
      <%= f.input :description, as: :text, input_html: { rows: 8, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :before_you_contact_us, as: :text, label: 'Before you contact us', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :contact_information, as: :text, label: 'Information you will need', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Quick Answer</legend>
      <%= f.input :quick_answer, input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link("quick_answer") %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Quick Links</legend>
      <div class="control-group">
        <%= f.label :quick_link_title_1, "Link 1", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_1, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_1, label: false, placeholder: "Link", input_html: { class: "span4" } %>

      <div class="control-group">
        <%= f.label :quick_link_title_2, "Link 2", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_2, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_2, label: false, placeholder: "Link", input_html: { class: "span4" } %>

      <div class="control-group">
        <%= f.label :quick_link_title_3, "Link 3", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_3, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_3, label: false, placeholder: "Link", input_html: { class: "span4" } %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Online Transaction</legend>
      <%= f.input :online_transaction_link, label: "Link", input_html: { class: "span4" } %>
      <%= f.input :online_transaction_description, label: "Description", input_html: { rows: 5, class: "span9" }, hint: formatting_help_link %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Important Links</legend>
      <div class="control-group">
        <%= f.label :important_link_title1, "Link 1", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :important_link_title1, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :important_link1, label: false, placeholder: "Link", input_html: { class: "span4" } %>
      <%= f.input :important_link_description1, label: false, placeholder: "Description", input_html: { rows: 5, class: "span9" }, hint: formatting_help_link %>

      <div class="control-group">
        <%= f.label :important_link_title2, "Link 2", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :important_link_title2, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :important_link2, label: false, placeholder: "Link", input_html: { class: "span4" } %>
      <%= f.input :important_link_description2, label: false, placeholder: "Description", input_html: { rows: 5, class: "span9" }, hint: formatting_help_link %>
    </fieldset>

    <div class='form-actions form-horizontal'>
      <div class="control-group">
        <div class="controls">
          <%= f.submit id: 'contact-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
          &nbsp;
          <%= link_to "cancel", admin_contacts_path, class: 'btn btn-small'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "admin/shared/formatting" %>
<%= render partial: "admin/shared/formatting", locals: { show_section: "quick_answer" } %>
