<div class="well">
  <%= simple_form_for [:admin, contact] do |f| %>
    <fieldset>
      <%= f.input :title, input_html: { class: 'input-md-4 form-control' } %>

      <% unless contact.persisted? %>
        <%= f.input :organisation_id, label: "Organisation", collection: Organisation.all, label_method: :to_s, value_method: :id, include_blank: false, input_html: { class: 'input-md-3 form-control js-select2' } %>
      <% end %>

      <%= f.association :contact_groups, collection: ContactGroup.all, multiple: true, input_html: { class: 'input-md-8 form-control js-select2' } %>
      <%= f.input :description, as: :text, input_html: { rows: 8, class: 'input-md-8 form-control' } %>
      <%= f.input :before_you_contact_us, as: :text, label: 'Before you contact us', input_html: { rows: 5, class: 'input-md-8 form-control' }, hint: formatting_help_link %>
      <%= f.input :contact_information, as: :text, label: 'Information you will need', input_html: { rows: 5, class: 'input-md-8 form-control' }, hint: formatting_help_link %>
      <%= f.input :query_response_time, as: :boolean, label: 'Show "When can I expect my reply" link' %>
      <%= f.input :popularity, class: 'input-md-3 form-control', hint: 'This is used to weight the contacts list, use call volume for example' %>
    </fieldset>

    <fieldset>
      <legend>Links</legend>

      <% 3.times do |i| %>
        <% link_no = i + 1 %>
        <div class="add-top-margin form-group">
          <%= f.label "quick_link_title_#{link_no}".to_sym, "Link #{link_no}", class: "control-label" %>
          <%= f.input_field "quick_link_title_#{link_no}".to_sym, placeholder: "Title", class: "input-md-6 form-control add-label-margin" %>
          <%= f.input "quick_link_#{link_no}".to_sym, label: false, placeholder: "Link", input_html: { class: "input-md-6 form-control" } %>
        </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Related contacts</legend>
      <div class="add-top-margin form-group">
        <%= f.association :related_contacts, collection: Contact.by_title, multiple: true, input_html: { class: 'input-md-8 form-control js-select2' } %>
      </div>
    </fieldset>

    <%= f.submit id: 'contact-submit', class: 'btn btn-success', data: { disable_with: 'Working' } %>
    <%= link_to "Cancel", admin_contacts_path, class: 'add-left-margin btn btn-default'%>
  <% end %>
</div>
<%= render "admin/shared/formatting" %>
