<div class="span12 first-child contact-details">
  <%= simple_form_for [:admin, contact] do |f| %>
    <fieldset class="form-horizontal">
      <legend>General details</legend>
      <%= f.input :title, input_html: { class: 'span4' } %>
      <%= f.association :department, collection: Department.all, include_blank: false, input_html: { class: 'span3 js-chosen-select' } %>
      <%= f.association :contact_groups, collection: ContactGroup.all, include_hidden: false, multiple: true, input_html: { class: 'span9 js-chosen-select' } %>
      <%= f.input :description, as: :text, input_html: { rows: 8, class: 'span9' } %>
      <%= f.input :before_you_contact_us, as: :text, label: 'Before you contact us', input_html: { rows: 5, class: 'span9' } %>
      <%= f.input :contact_information, as: :text, label: 'Information you will need', input_html: { rows: 5, class: 'span9' } %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Extra information for each contact type</legend>
      <br>
      <p>These appear below each contact method (contact form, phone number, email address, post address)</p>
      <br>

      <%= f.input :more_info_contact_form, label: 'More info for contact forms', input_html: { rows: 8, class: 'span9' } %>
      <%= f.input :more_info_email_address, label: 'More info for email addresses', input_html: { rows: 8, class: 'span9' }  %>
      <%= f.input :more_info_post_address, label: 'More info for postal addresses', input_html: { rows: 8, class: 'span9' }  %>
      <%= f.input :more_info_phone_number, label: 'More info for phone numbers', input_html: { rows: 8, class: 'span9' }  %>
    </fieldset>

    <div class='form-actions form-horizontal'>
      <div class="control-group">
        <div class="controls">
          <%= f.submit id: 'contact-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
          &nbsp;
          <%= link_to "cancel", admin_contacts_path, class: 'btn btn-small'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
