<%= simple_form_for [:admin, contact] do |f| %>
  <fieldset>
    <legend>General details</legend>
    <%= f.association :contact_group, collection: ContactGroup.all, include_blank: false, input_html: { class: 'js-chosen-select' } %>
    <%= f.association :offices, input_html: { multiple: true, class: 'js-chosen-select' } %>
    <%= f.input :description %>
    <div class='row'>
      <div class='span6'>
        <%= f.input :contact_information, input_html: { rows: 8 }  %>
      </div>
      <div class='span6'>
        <%= f.label :preview, required: false %>
        <div class='well' data-preview='markdown' data-preview-for='#contact_contact_information'>
        </div>
      </div>
    </div>
    <%= f.input :meta_title %>
    <%= f.input :meta_description %>
  </fieldset>

  <fieldset>
    <legend>More info details</legend>
    <p>These appear below each contact type list (website, phone number, email address, post address)</p>

    <div class='row'>
      <div class='span6'>
        <%= f.input :more_info_website, label: 'More info for Website contacts', input_html: { rows: 8 } %>
      </div>
      <div class='span6'>
        <%= f.label :preview, required: false %>
        <div class='well' data-preview='markdown' data-preview-for='#contact_more_info_website'>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='span6'>
        <%= f.input :more_info_email_address, label: 'More info for Email Address contacts', input_html: { rows: 8 }  %>
      </div>
      <div class='span6'>
        <%= f.label :preview, required: false %>
        <div class='well' data-preview='markdown' data-preview-for='#contact_more_info_email_address'>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='span6'>
        <%= f.input :more_info_post_address, label: 'More info for Post Address contacts', input_html: { rows: 8 }  %>
      </div>
      <div class='span6'>
        <%= f.label :preview, required: false %>
        <div class='well' data-preview='markdown' data-preview-for='#contact_more_info_post_address'>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='span6'>
        <%= f.input :more_info_phone_number, label: 'More info for Phone Number contacts', input_html: { rows: 8 }  %>
      </div>
      <div class='span6'>
        <%= f.label :preview, required: false %>
        <div class='well' data-preview='markdown' data-preview-for='#contact_more_info_phone_number'>
        </div>
      </div>
    </div>
  </fieldset>

  <div class='form-actions'>
    <%= f.submit id: 'contact-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
