<div class="span12 first-child contact-details">
  <%= simple_form_for [:admin, contact] do |f| %>
    <fieldset class="form-horizontal">
      <legend>General details</legend>
      <%= f.input :title, input_html: { class: 'span4' } %>
      <%= f.input :organisation_id, label: "Organisation", collection: Organisation.all, label_method: :to_s, value_method: :id, include_blank: false, input_html: { class: 'span3 js-select2' } %>
      <%= f.association :contact_groups, collection: ContactGroup.all, include_hidden: false, multiple: true, input_html: { class: 'span9 js-select2' } %>
      <%= f.input :description, as: :text, input_html: { rows: 8, class: 'span9' } %>
      <%= f.input :before_you_contact_us, as: :text, label: 'Before you contact us', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :contact_information, as: :text, label: 'Information you will need', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :query_response_time, as: :boolean, label: 'Show "When can I expect my reply" link' %>
      <%= f.input :popularity, hint: 'This is used to weight the contacts list, use call volume for example' %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Quick Links</legend>
      <div class="control-group">
        <%= f.label :quick_link_title_1, "Link 1", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_1, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_1, label: false, placeholder: "Link", input_html: { class: "span4" } %>

      <div class="control-group">
        <%= f.label :quick_link_title_2, "Link 2", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_2, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_2, label: false, placeholder: "Link", input_html: { class: "span4" } %>

      <div class="control-group">
        <%= f.label :quick_link_title_3, "Link 3", class: "control-label" %>
        <div class="controls">
          <%= f.input_field :quick_link_title_3, placeholder: "Title", class: "span4" %>
        </div>
      </div>
      <%= f.input :quick_link_3, label: false, placeholder: "Link", input_html: { class: "span4" } %>
    </fieldset>

    <div class='form-actions form-horizontal'>
      <div class="control-group">
        <div class="controls">
          <%= f.submit id: 'contact-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
          &nbsp;
          <%= link_to "cancel", admin_contacts_path, class: 'btn btn-small'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "admin/shared/formatting" %>
