<div class="span12 first-child contact-details">
  <%= simple_form_for [:admin, contact] do |f| %>
    <fieldset class="form-horizontal">
      <legend>General details</legend>
      <%= f.input :title, input_html: { class: 'span4' } %>
      <%= f.input :department_id, label: "Department", collection: Department.all, label_method: :to_s, value_method: :slug, include_blank: false, input_html: { class: 'span3 js-chosen-select' } %>
      <%= f.association :contact_groups, collection: ContactGroup.all, include_hidden: false, multiple: true, input_html: { class: 'span9 js-chosen-select' } %>
      <%= f.input :description, as: :text, input_html: { rows: 8, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :quick_answer, input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :before_you_contact_us, as: :text, label: 'Before you contact us', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
      <%= f.input :contact_information, as: :text, label: 'Information you will need', input_html: { rows: 5, class: 'span9' }, hint: formatting_help_link %>
    </fieldset>

    <fieldset class="form-horizontal">
      <legend>Online Transaction</legend>
      <%= f.input :online_transaction_link, label: "Link", input_html: { class: "span4" } %>
      <%= f.input :online_transaction_description, label: "Description", input_html: { rows: 5, class: "span9" }, hint: formatting_help_link %>
    </fieldset>

    <div class='form-actions form-horizontal'>
      <div class="control-group">
        <div class="controls">
          <%= f.submit id: 'contact-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
          &nbsp;
          <%= link_to "cancel", admin_contacts_path, class: 'btn btn-small'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "admin/shared/formatting" %>