<div class="row">
  <div class="span12 first-child">
    <div class='page-header'>
      <h2>
        Edit <%= @contact %>

        <span class="pull-right">
          <%= link_to 'Clone', clone_admin_contact_path(@contact), data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %>
          &nbsp;
          <%= link_to 'Delete', admin_contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small text-red' %>
        </span>
      </h2>

      <%= render 'contact_nav', contact: @contact %>
    </div>

    <%= render 'form', contact: @contact %>

  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Audit log</h3>
    <table class="table table-striped">
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Action</th>
        <th>Changes</th>
      </tr>
      <%= render partial: 'admin/versions/version', collection: @contact.display_versions, as: :version %>
    </table>
  </div>
</div>
