<tr>
  <td><%= contact_group.organisation %></td>
  <td>
    <%= link_to contact_group.title, edit_admin_contact_group_path(contact_group) %>
  </td>
  <td><%= contact_group.description %></td>
  <td><%= contact_group.contacts.size %></td>
  <td class='text-right'>
    <%= link_to "Edit group", edit_admin_contact_group_path(contact_group), class: 'btn btn-default' %>
  </td>
</tr>
