<%= simple_form_for [:admin, contact_group] do |f| %>
  <fieldset class="form-horizontal">
    <%= f.input :title, input_html: { class: 'span6' } %>
    <%= f.input :description, as: :text, input_html: { rows: 8, class: 'span6' }, hint: formatting_help_link %>
    <%= f.input :department_id, label: "Department", collection: Department.all, label_method: :to_s, value_method: :slug, include_blank: false, input_html: { class: 'span3 js-select2' } %>
    <%= f.association :contact_group_type, collection: ContactGroupType.all, include_blank: false, input_html: { class: 'span3 js-select2' } %>
  </fieldset>

  <div class='form-actions form-horizontal'>
    <div class="control-group">
      <div class="controls">
        <%= f.submit id: 'contact-group-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
        &nbsp;
        <%= link_to "cancel", admin_contact_groups_path, class: 'btn btn-small'%>
      </div>
    </div>
  </div>
<% end %>
<%= render "admin/shared/formatting" %>