<%= simple_form_for [:admin, office] do |f| %>
  <fieldset class="form-horizontal">
    <%= f.input :title, input_html: { class: 'span6' } %>
    <%= f.association :contact, include_blank: false, input_html: { class: 'span6 js-chosen-select' } %>
    <%= f.association :department, collection: Department.all, include_blank: false, input_html: { class: 'span3 js-chosen-select' } %>
  </fieldset>

  <div class='form-actions form-horizontal'>
    <div class="control-group">
      <div class="controls">
        <%= f.submit id: 'office-submit', class: 'btn btn-small btn-primary', data: { disable_with: 'Working' } %>
      </div>
    </div>
  </div>
<% end %>