<tr>
  <td>
    <ul>
      <% contact_record.contacts.each do |contact| %>
        <li><%= contact %></li>
      <% end %>
    </ul>
  </td>
  <td><%= contact_record.contact_type %></td>
  <td>
    <%= contact_record.description %>
  </td>
  <td>
    <%= render_contact_keywords(contact_record.keywords) %>
  </td>
  <td><%= contact_record.websites.size %></td>
  <td><%= contact_record.email_addresses.size %></td>
  <td><%= contact_record.post_addresses.size %></td>
  <td><%= contact_record.numbers.size %></td>
  <td>
    <%= link_to "Edit", edit_admin_contact_record_path(contact_record), class: 'btn btn-small' %>
  </td>
</tr>
