<%= simple_form_for [:admin, contact_record] do |f| %>
  <fieldset>
    <legend>General details</legend>
    <%= f.association :contact_type, collection: ContactType.all, include_blank: false %>
    <%= f.association :contacts, input_html: { multiple: true } %>
    <%= f.input :description %>
    <%= f.input :contact_information %>
    <%= f.input :meta_title %>
    <%= f.input :meta_description %>
  </fieldset>

  <fieldset>
    <legend>More info details</legend>
    <p>These appear below each contact type list (website, phone number, email address, post address)</p>

    <%= f.input :more_info_website, label: 'More info for Website contacts' %>
    <%= f.input :more_info_email_address, label: 'More info for Email Address contacts' %>
    <%= f.input :more_info_post_address, label: 'More info for Post Address contacts' %>
    <%= f.input :more_info_phone_number, label: 'More info for Phone Number contacts' %>
  </fieldset>

  <div class='form-actions'>
    <%= f.submit id: 'contact-record-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
