<%= simple_form_for [:admin, contact_record] do |f| %>
  <fieldset>
    <legend>General details</legend>
    <%= f.association :contact_type, collection: ContactType.all, include_blank: false %>
    <%= f.association :contacts, input_html: { multiple: true } %>
    <%= f.input :description %>
    <%= f.input :contact_form_url %>
    <%= f.input :meta_title %>
    <%= f.input :meta_description %>
  </fieldset>

  <fieldset>
    <legend>Email details</legend>
    <%= f.input :email_text_head %>
  </fieldset>

  <fieldset>
    <legend>Post details</legend>
    <%= f.input :post_name %>
    <%= f.input :post_text_head %>
  </fieldset>

  <div class='form-actions'>
    <%= f.submit id: 'contact-record-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
  </div>
<% end %>
