<div class="question-page">
  <% if @contact_groups.any? %>
    <% @contact_groups.each do |contact_group| %>
      <div class="js-expand-list <%= 'no-content' if contact_group.questions.none? %>">
        <h2 class="js-expand-link expand-header">
          <%= contact_group %>
          <small>(<%= contact_group.questions.size %>)</small>
        </h2>
        <div class="expand-content">
          <% if contact_group.questions.any? %>
            <table class='table table-striped table-hover questions-table'>
              <colgroup>
                <col width="*"></col>
                <col width="300"></col>
                <col width="150"></col>
              </colgroup>
              <thead>
                <tr>
                  <th>Question</th>
                  <th>Contact</th>
                  <th>
                    <%= link_to "+ Add Question", new_admin_question_path, class: 'btn btn-small pull-right' %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% contact_group.questions.each do |question| %>
                  <%= render 'question', question: question %>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="empty-content">
              <h4>No question found</h4>
              <p>
                We have found no questions. <%= link_to "You should add one.", new_admin_question_path %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4>No contact groups found</h4>
    <p>
      There must be a contact group before you can add a question. <%= link_to "You should add one.", new_admin_contact_group_path %>
    </p>
  <% end %>
</div>