<%= more_info_record_form.input :description %>
<%= more_info_record_form.input :url_title %>
<%= more_info_record_form.input :url_description %>
<%= more_info_record_form.input :url %>

<div class='form-actions'>
  <%= more_info_record_form.submit id: 'more-info-record-submit', class: 'btn btn-primary', data: { disable_with: 'Working' } %>
</div>
