<!DOCTYPE html>
<html>
<head>
  <title>HMRC Contacts: Admin Interface</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to 'Home', admin_root_path  %></li>
        <li><%= link_to 'Contacts', admin_contacts_path  %></li>
        <li><%= link_to 'Contact Records', admin_contact_records_path  %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= render 'flashes' %>

  <%= yield %>
</div>

</body>
</html>
