<% content_for :app_title, 'GOV.UK Contacts' %>
<% content_for :app_home_path, admin_root_path %>
<% content_for :page_title, ' | GOV.UK Contacts' %>
<% content_for :head do %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "admin" %>
  <%= yield :extra_headers %>
<% end %>

<% content_for :navbar_items do %>
  <li class="<%= 'active' if params[:controller] == 'admin/contacts' || params[:controller] == 'admin/contacts/contact_form_links' || params[:controller] == 'admin/contacts/email_addresses' || params[:controller] == 'admin/contacts/phone_numbers' || params[:controller] == 'admin/contacts/post_addresses' %>">
    <%= link_to 'Contacts', admin_contacts_path  %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'admin/contact_groups' %>">
    <%= link_to 'Contact groups', admin_contact_groups_path  %>
  </li>
<% end %>

<% content_for :navbar_right do %>
  <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :content do %>
  <%= render 'flashes' %>
  <%= yield %>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<%# use the govuk_admin_template layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
