<!DOCTYPE html>
<html>
<head>
  <title>HMRC Contacts: Admin Interface</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'HMRC Contacts', admin_root_path, class: 'brand'  %>
      
      <ul class="nav">
        <li class="<%= 'active' if params[:controller] == 'admin/offices' %>">
          <%= link_to 'Offices', admin_offices_path  %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'admin/contact_groups' %>">
          <%= link_to 'Contact Groups', admin_contact_groups_path  %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'admin/contacts' || params[:controller] == 'admin/contacts/contact_form_links' || params[:controller] == 'admin/contacts/email_addresses' || params[:controller] == 'admin/contacts/phone_numbers' || params[:controller] == 'admin/contacts/post_addresses' %>">
          <%= link_to 'Contacts', admin_contacts_path  %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'admin/questions' %>">
          <%= link_to 'Questions', admin_questions_path  %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= render 'flashes' %>

  <%= yield %>
</div>

</body>
</html>
