<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "frontend", media: "all" %>
  <!--[if IE 6]>
    <%= stylesheet_link_tag "frontend/#{local_assigns[:stylesheet] || "base"}-ie6.css" %><script>var ieVersion = 6;</script>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag "frontend/#{local_assigns[:stylesheet] || "base"}-ie7.css" %><script>var ieVersion = 7;</script>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag "frontend/#{local_assigns[:stylesheet] || "base"}-ie8.css" %><script>var ieVersion = 8;</script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="hmrc-contacts-body">
<% unless local_assigns[:show_breadcrumbs] %>
<div id="global-breadcrumb" class="header-context group">
  <ol>
    <% if params[:action] == "show" %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
    <% end %>
  </ol>
</div>
<% end %>
<div id="wrapper">
  <div class="hmrc-contacts-content">
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag "frontend" %>
</body>
</html>
