<!DOCTYPE html>
<html>
<head>
  <title><%= organisation.title %> contacts - GOV.UK</title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "frontend", media: "all" %><!--<![endif]-->
  <!--[if IE 6]>
    <%= stylesheet_link_tag "frontend/base-ie6.css" %><script>var ieVersion = 6;</script>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag "frontend/base-ie7.css" %><script>var ieVersion = 7;</script>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag "frontend/base-ie8.css" %><script>var ieVersion = 8;</script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="hmrc-contacts-body">
<% unless local_assigns[:show_breadcrumbs] %>
<div id="global-breadcrumb" class="header-context group">
  <ol role="breadcrumbs" class="group">
    <li>
      <%= link_to "Home", '/' %>
    </li>
    <li>
      <%= link_to organisation.title, organisation.path %>
    </li>
    <% if params[:action] == "show" %>
      <li>
        <%= link_to "Contact #{organisation.abbreviation_or_title}", contacts_path(organisation.slug) %>
      </li>
    <% end %>
  </ol>
</div>
<% end %>
<div id="wrapper">
  <div class="hmrc-contacts-content">
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
      <div id="report-a-problem"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag "frontend" %>
</body>
</html>
