<!DOCTYPE html>
<html>
<head>
  <title>HmrcContacts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hmrc-contacts-body">

<div id="wrapper">
  <div class="hmrc-contacts-content">
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
